.header{
    position: sticky;
    top: 0;
    background: linear-gradient(rgb(94 64 213 / 79%));
  background-color: rgb(39, 8, 88);
  z-index: 100;
  
  }
  .navbar{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* background: linear-gradient(rgba(5, 0, 40, 0.785), transparent); */
  background: linear-gradient(rgb(94 64 213 / 79%));
  /* background-color: teal; */
  background-color: rgb(39, 8, 88);
  color: white;
  z-index: 100;
  padding: 8px;
  }
  
  .left{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    gap: 2rem;
    width: 55%;
  }
  .left .logo {
    font-size: 2rem;
    width: 33%;
  
  }
  
  
  .navbar .logo{
  /* padding: 1rem; */
  /* background-color: yellow; */
  font-weight: 900;
  font-size: 1.5rem;
  }
  .navbar .left .input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .navbar .left .input input{
    height: 35px;
      width: 100%;
      border-radius: 3px;
  }
  .navbar .left .input input::placeholder{
    padding: 1rem;
    font-weight: 500;
  }
  .header .options{
    background-color: #4b1b78
  
  }
  
  .header .options .links{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      font-weight: 600;
      width: 90%;
      margin: auto;
      /* background-color: blueviolet; */
  
  }
  .header .options .links div{
    color: white;
  
  }
  
  
  .right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6916b9;
    font-size: 1.3rem;
    width: 10%;
    font-weight: 400;
    border-radius: 3px;
    gap:5px;
  
  }
  
  
  
  
  
  /* @media for 768px */
  @media only screen and (max-width: 768px){
      .navbar{
        flex-direction: column;
        justify-content: flex-start;
  
      }
      .navbar .left{
        flex-direction: column;
        gap: 10px;
      }
      .navbar .left .input{
        width: 100%;
      }
      .left .logo {
        font-size: 1.3rem;
        width: 100%;
        text-align: center;
      
      }
      .navbar .left .input input{
        height: 30px;
      }
      
      .right{
        width: 30%;
        margin-top: 10px;
      }
    .links{
        display: flex;
        justify-content: center;
        align-items: center;
         gap: 0; 
       padding: 0; 
         flex-direction: row; 
       } 
    }
    